#buttons button {
  margin: 1px;
  margin-bottom: 10px;
}

#fields {
  min-width: 300px;
  margin: 1%;
}

#title {
  margin-top: 10px;
  min-width: 300px;
}

.padded {
  padding-right: 50px !important;
  margin-left: 10px !important;
}

.msaPairs {
  padding-top: 10px !important;
  min-width: 400px !important;
}

.buttons {
  padding-left: 30px !important;
}

.mcGrid {
  margin: 3px !important;
  margin-top: 7px !important;
}

.laPrompt {
  min-width: 50% !important;
}
