.correctCard {
  border-bottom: 5px solid rgba(76, 175, 80, 1) !important;
  margin: 10px !important;
}

.incorrectCard {
  border-bottom: 5px solid rgba(211, 47, 47, 1) !important;
  margin: 10px !important;
}

.correctText {
  color:  rgba(76, 175, 80, 1) !important;
}

.incorrectText {
  color: rgba(211, 47, 47, 1) !important;
}

.goodTitle {
  border: 5px solid rgba(76, 175, 80, 1) !important;
  margin: 10px !important; 
}

.badTitle {
  border: 5px solid rgba(211, 47, 47, 1) !important;
  margin: 10px !important;
}